header {
  background-image: linear-gradient(80deg, #39036d, #420097, #4103a5, #0082be);
  height: 60px;
  display: flex;
  align-items: center;
}

.wfilme-nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.wfilme-nav-content h1 {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
}

.wfilme-contact-container {
  display: flex;
  align-items: center;
}

.wfilme-contact-link {
  margin: 0 0 0 10px;
  font-size: 12px;

}